<div class="row">
  <div class="col-xs-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a [routerLink]="['']" class="navbar-brand">Facility Management</a>
          </div>
          <div class="navbar-collapse navbar-right">
              <!-- <ul class="nav navbar-nav">
                <li routerLinkActive="active" >
                  <a >Log Out</a>
                </li>
              </ul> -->
          </div>
      </div>
    </nav>
  </div>
</div>
